.panel-wrapper{
    width: 450px;
    height: 400px;

    margin: 5px;

    background-color: #ffffff;

    box-shadow: black 1px 1px 3px;
    border-radius: 10px;

    overflow: clip;
}

.panel-wrapper-header{

}

.panel-wrapper-body{
    height: 100%;
    overflow-y: auto;
}