.welcome-panel{
    background: rgb(164,0,146);
    background: linear-gradient(0deg, rgba(164,0,146,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
    height: 100%;
    display: flex;
}

.welcome-panel h1{
    margin: auto;
    color: white;
}