.dashboard{
    display: flex;
    width:100%;
}

.dashboard-panels{
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

.refresh-button{
    position: absolute;
    top: 60px;
    right: 5px;
}